#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Install PortProton
Exec=curl https://raw.githubusercontent.com/Castro-Fidel/PortProton_PKGBUILD/main/install.sh | bash -s --
Icon=steamdeck-gaming-return
Terminal=true
Type=Application
StartupNotify=false

